[Unit]
Description=Budget API backend service
Wants=network-online.target
After=network-online.target postgresql.service

[Service]
Type=simple
WorkingDirectory=/home/pstrzelbicki/BudgetApp/BudgetApp/src/server
ExecStart=/usr/bin/node /home/pstrzelbicki/BudgetApp/BudgetApp/src/server/server.js
Restart=on-failure
RestartSec=5s
EnvironmentFile=/home/pstrzelbicki/BudgetApp/BudgetApp/src/server/.env
User=pstrzelbicki
Group=pstrzelbicki
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
