[Unit]
Description=Budget API backend service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pstrzelbicki/BudgetApp/BudgetApp/src/server
ExecStart=/usr/bin/node /home/pstrzelbicki/BudgetApp/BudgetApp/src/server/server.js
Restart=on-failure
RestartSec=5s
Environment=DB_TYPE=postgres
Environment=DB_CONNECTION_STRING=postgresql://admin:Password123@localhost:5432/homebudget
Environment=PORT=3000
User=pstrzelbicki
Group=pstrzelbicki
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
