[Unit]
Description=HomeBudget web application
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pstrzelbicki/BudgetApp/BudgetApp
ExecStart=/usr/bin/python3 /home/pstrzelbicki/BudgetApp/BudgetApp/scripts/serve-web.py --port 8081 --bind 0.0.0.0 --directory /home/pstrzelbicki/BudgetApp/BudgetApp/dist
Restart=on-failure
RestartSec=5s
User=pstrzelbicki
Group=pstrzelbicki
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
